black
pylint
prefect
prefect-snowflake
prefect-shell
prefect-slack
prefect-github
prefect-aws
asyncpg 
s3fs
pandas
bs4
tldextract
pymongo
python-whois
fuzzywuzzy
python-Levenshtein
twilio
snowflake-connector-python[pandas]